.footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: $small-spacing/2;

  .copyright {
    font-size: 9px;
    opacity: 0.5;

    @include breakpoint(medium) {
      overflow: hidden;
      text-indent: 101%;
      white-space: nowrap;
      font-size: 0;
    }
  }
}
