.main-nav {
  @include breakpoint(medium) {
    width: 100%;
  }

  &__list {
    list-style: none;
    display: flex;
  }

  &__item {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0 $small-spacing;
    @include breakpoint(medium) {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    a {
      font-weight: bold;
      color: $base-font-color;
      text-decoration: none;
      padding: $small-spacing/3;
      transition: $base-transition;
      &:hover, &.active {
        color: $base-font-color;
        border-bottom: 3px solid $action-color;
      }
      @include breakpoint(medium) {
        flex: 1;
        text-align: center;
      }
    }
  }
}
