.project-detail {
  box-sizing: border-box;
  cursor: auto;
  padding: $base-spacing;
  transform: scale3d(0, 0, 0);
  transform-origin: center;
  background: $base-background-color;
  height: 100vh;
  max-width: 60rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.25s ease;
  overflow: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; //enable inertial scrolling on mobile
  z-index: 1;
  box-shadow: $base-box-shadow;

  //open animation
  &.is-open {
    transform: scale3d(1, 1, 1);
    animation: "fadeIn" 0.4s;
    .project-detail__header,
    .project-detail__body {
      animation: "fadeInUp" 0.8s $cubic-bezier, "fadeIn" 1.5s;
    }
  }

  .icon-close {
    z-index: 2;
    position: absolute;
    right: $small-spacing;
    top: $small-spacing;
    cursor: pointer;
    transition: $base-transition;
    padding: $small-spacing/2;
    svg {
      fill: $base-background-color;
      height: 2.5rem;
      width: 2.5rem;
    }
    &:hover {
      background: rgba($base-background-color, 0.1);
      border-radius: 50%;
    }
    @include breakpoint(small) {
      right: $small-spacing;
      top: $small-spacing;
    }
  }

  &__banner {
    margin: 0 -$base-spacing;
    margin-bottom: $small-spacing;
  }

  &__title {
    margin-right: 5rem; //prevent close icon from eclipsing title
  }

  &__image {
    margin: 0 0 $base-spacing;
    img {
      width: 100%;
    }
  }

  &__video {
    position: relative;
    padding-bottom: 57%; //16:9
    height: 0;
    margin: 0 0 $base-spacing;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__image-caption {
    display: block;
    text-align: right;
    font-style: italic;
    font-size: $base-font-size/1.25;
  }

  @include breakpoint(medium) {
    width: 100vw;
  }

  @include breakpoint(small) {
    padding: $small-spacing;
  }
}
