$number-of-icons: 7;

.social-links {
  display: flex;
  align-items: center;
  margin: $base-spacing 0 0;
  padding: 0;
  list-style: none;
  &__item {
    opacity: 0;
    margin: 0 $base-spacing/1.5 0 0;
    line-height: 0;
    transition: $base-transition;
    animation: 0.5s spin ease, 0.5s fadeIn ease forwards;
    @for $i from 1 to $number-of-icons + 1 {
      &:nth-of-type(#{$i}) {
        animation-delay: 500ms + $i * 100ms;
      }
    }
    &:hover {
      transform: rotate(360deg);
    }

    @include breakpoint(medium) {
      margin: 0 $small-spacing 0 0;
    }

    @include breakpoint(small) {
      margin: 0 $small-spacing/2 0 0;
    }
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
}
