body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  border-style: border-box;
  min-width: 320px;
  line-height: 1.0;
  height: 100%;
  margin: 0;
  word-wrap: break-word;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-image: linear-gradient(180deg, transparent 0%, rgba(2, 0, 13, 0.82) 100%), url('images/bg.jpg');
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-attachment: fixed;
  background-color: #000000;
}

h1, h2, h3, h4, h5, h6, p, div, ul {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: 100;
}

.main {
  max-width: 100%;
  overflow-x: hidden;
  padding: 4.5rem;
}

.name {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 0.4rem;
  font-size: 2.5rem;
  padding: 0 0 0.5rem 0;
}

.description {
  letter-spacing: 0.1rem;
  font-size: 1.125rem;
  font-weight: 100;
  padding: 0 0 0.5rem 0;
}

.social-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0.75rem 0;
}

.social-links .icon {
  display: block;
  height: 30px;
  width: 30px;
  background-color: white;
  margin-right: 1rem;
}
