<div class="about">
  <h3>Casey Callow is a hybrid designer and developer living in the SF Bay Area.</h3>
  <p>He told me to tell you to use the phone over there. Wake it up with the home button and text him.</p>
</div>
