<div class="about">
  <h2>Casey Callow is a hybrid designer and developer living in the SF Bay Area.</h2>
  <p>He told me to tell you to use the phone over there. Wake it up with the home button and text him.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam rerum dolore in recusandae, et vitae error quae totam non, neque illo voluptatibus culpa fugiat ducimus repudiandae officia repellat autem? Perferendis tempora vitae eos provident, error ab quibusdam, repellendus quo id nihil ea, modi, expedita ut amet porro natus explicabo perspiciatis.</p>
</div>
