<head>
  <title>{{siteTitle}}</title>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="{{siteDescription}}">
  <meta property="og:site_name" content="{{siteTitle}}">
  <meta property="og:title" content="{{siteTitle}}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{siteDescription}}">
  <meta property="og:url" content="https://caseycallow.design">
  <meta property="twitter:card" content="summary_large_image">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link href="{{{fontSrc}}}" rel="stylesheet">
  <link rel="stylesheet" href="styles.min.css">
</head>
