<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    <main class="main">
      <div class="main-content">
        {{>about}}
      </div>
    </main>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
