<div class="iphone">
  <div class="iphone__top-bar"></div>
  <div class="iphone__sleep"></div>
  <div class="iphone__volume"></div>
  <div class="iphone__camera"></div>
  <div class="iphone__sensor"></div>
  <div class="iphone__speaker"></div>
  <div class="iphone__screen">
    {{>status-bar}}
    {{>nav-bar}}
    {{>prototype-videos}}
    <iframe class="chatbot" src="{{{portfolioChatbotSrc}}}" width="100%" height="100%"></iframe>
  </div>
  <div class="iphone__home"></div>
  <div class="iphone__bottom-bar"></div>
</div>
