<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__item"><a class="{{#mainActive}}active{{/mainActive}}" href="/">About</a></li>
    <li class="main-nav__item"><a class="{{#portfolioActive}}active{{/portfolioActive}}" href="/portfolio">Portfolio</a></li>
  </ul>
</nav>
