<!DOCTYPE html>
<html lang="en">
  {{>head}}
  <body>
    {{#portfolioPage}}
    {{>header}}
    {{/portfolioPage}}
    <main class="main">
      <div class="main-content">
        {{>teaser}}
      </div>
    </main>
    {{>footer}}
    {{>scripts}}
  </body>
</html>
