<div class="project-detail">
  {{#iconClose}}
  {{>icon}}
  {{/iconClose}}
  <div class="project-detail__header">
    <h2 class="project-detail__title">{{title}}</h2>
    <hr>
    <div class="project-detail__section">
      <h3>Overview</h3>
      <p>{{overview}}</p>
    </div>
    <div class="project-detail__section">
      <h3>Role</h3>
      <p>{{role}}</p>
    </div>
    <div class="project-detail__section">
      <h3>Tools</h3>
      <p>{{tools}}</p>
    </div>
  </div>
  <hr>
  <div class="project-detail__body">
    {{#body}}
    <p>{{body}}</p>
    {{/body}}
  </div>
</div>
