<div class="project-detail">

  {{#iconClose}}
  {{>icon}}
  {{/iconClose}}

  <div class="project-detail__header">
    <h2 class="project-detail__title">{{title}}</h2>
    <hr>
    <div class="project-detail__section">
      <h3>Overview</h3>
      <p>{{overview}}</p>
    </div>
    <div class="project-detail__section">
      <h3>Role</h3>
      <p>{{role}}</p>
    </div>
    <div class="project-detail__section">
      <h3>Tools</h3>
      <p>{{tools}}</p>
    </div>
  </div>
  <div class="project-detail__body">

    <h3>Process</h3>

    {{#body}}

    {{#paragraph}}
    <p>{{{paragraph}}}</p>
    {{/paragraph}}

    {{#image}}
    <div class="project-detail__image">
      <img src="{{src}}" alt="{{alt}}">
      <span class="project-detail__image-caption">{{caption}}</span>
    </div>
    {{/image}}

    {{#video}}
    <div class="project-detail__video">
      <iframe src="{{src}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    {{/video}}

    {{/body}}

  </div>

  {{>button}}
</div>
