<div class="project-detail">
  {{#iconClose}}
  {{>icon}}
  {{/iconClose}}
  <div class="project-detail__header">
    <h2 class="project-detail__title">{{title}}</h2>
    <h3>Tools used: PatternLab, Sketch, Sass, Mustache</h3>
    <h3>Role: Style guide, interaction design, frontend prototype</h3>
  </div>
  <div class="project-detail__body">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, quasi. Explicabo quia rem dolorum ea nesciunt dignissimos quis debitis aliquam voluptatum voluptates totam, fuga, tempora vel ipsum aliquid accusantium modi.</p>
  </div>
</div>
