<ul class="social-links">
  {{#socialLinks}}
  <li class="social-links__item">
    <a href="{{src}}" target="_blank">
      {{#icon}}
      {{>icon}}
      {{/icon}}
    </a>
  </li>
  {{/socialLinks}}
</ul>
