.header {
  min-height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - #{$base-spacing}*2);
  z-index: 1;
  display: flex;
  padding: 0 $base-spacing;
  justify-content: flex-end;
  align-items: center;
  background: darken(rgba(51, 51, 51, 0.9), 10%);
}
