.main-nav {
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      text-decoration: none;
      padding: $small-spacing;
      transition: $base-transition;
      &:hover {
        color: white;
        background: transparentize($primary-color, 0.7);
      }
      &.active {
        color: white;
        background: transparentize($primary-color, 0.4);
      }
    }
  }
}
