.main-nav {
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      color: $base-font-color;
      text-decoration: none;
      padding: $small-spacing;
      transition: $base-transition;
      &:hover, &.active {
        color: white;
        background: $primary-color;
      }
    }
  }
}
