.nav-bar  {
  width: 100%;
  height: auto;
  border-bottom: 1px solid $light-gray;
  background-color: white;
  color: black;
  padding: 0.2rem 0;
  &__picture {
    border-radius: 50%;
    margin: 0 auto;
    height: 2.5rem;
    width: 2.5rem;
  }
  &__label {
    font-family: $san-franscisco;
    font-size: $base-font-size*0.8;
    margin: 1rem 0;
  }
}
