.teaser-section {
  pointer-events: auto;
}
.teaser {
  max-width: 25rem;
  flex-basis: 50%;
  cursor: pointer;
  padding: $base-spacing;
  border-radius: $base-border-radius;
  transition: $base-transition;
  transform: rotateZ(360deg); //hardware acceleration
  opacity: 0;
  animation: fadeInRight 750ms ease forwards;
  @for $i from 1 to 5 {
    &:nth-of-type(#{$i}) {
      animation-delay: $i * 150ms + 750ms;
    }
  }

  &:last-child, &__description {
    margin: 0;
  }

  &:hover {
    background: $primary-color-lighter;
    box-shadow: $base-box-shadow;
  }
}
