.teaser {
  cursor: pointer;
  margin: 0 0 $base-spacing;
  padding: $base-spacing;
  background: $teaser-color;
  box-shadow: $base-box-shadow;
  border-radius: $base-border-radius;
  transition: $base-transition;
  &:hover {
    background: $teaser-color-hover;
    transform: scale(1.02);
  }
  &__description {
    margin: 0;
  }
  &.js-teaser-open {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }
}
