<!DOCTYPE html>
<html lang="en">
  {{>../templates/head}}
  <body>
    {{#mainPage}}
    {{>../templates/header}}
    {{/mainPage}}
    <main class="main">
      <div class="main-content">
        {{>../templates/about}}
      </div>
      <div class="secondary-content">
        {{#mainPage}}
        {{>../templates/iphone}}
        {{/mainPage}}
      </div>
    </main>
    {{>../templates/footer}}
    {{>../templates/scripts}}
  </body>
</html>
