<!DOCTYPE html>
<html lang="en">
  {{>../templates/head}}
  <body>
    {{#portfolioPage}}
    {{>../templates/header}}
    {{/portfolioPage}}
    <main class="main">
      <div class="main-content">
        {{>../templates/teaser}}
      </div>
      <div class="secondary-content">
        {{#portfolioPage}}
        {{>../templates/iphone}}
        {{/portfolioPage}}
      </div>
    </main>
    {{>../templates/footer}}
    {{>../templates/scripts}}
  </body>
</html>
