<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{siteTitle}}</title>
    <link rel="stylesheet" href="src/styles/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Taviraj|Work+Sans" rel="stylesheet">
  </head>
  <body>
    <div class="main-content">
      {{>iphone}}
    </div>
    <div class="secondary-content">
      {{>teaser}}
    </div>
  </body>
  <script src="src/scripts/scripts.js" type="text/javascript"></script>
</html>
