<div class="screen">
  {{>status-bar}}
  {{>nav-bar}}
  {{>prototype-videos}}
  <iframe class="chatbot" src="https://api.motion.ai/webchat/23723?sendBtn=SEND&inputBox=Type+something...&token=ef7a260569f0f1fa64203a3f32fcd87e" width="100%" height="100%"></iframe>
</div>
