<section class="teaser-section">
  {{#teaser}}
  <article class="teaser">
    <h3 class="teaser__title">{{title}}</h3>
    <p class="teaser__description">{{description}}</p>
  </article>
  {{/teaser}}
</section>
