<section class="teaser-section">
  {{#teaser}}
  <article class="teaser">
    <h3 class="teaser__title">{{title}}</h3>
    <p class="teaser__description">{{description}}</p>

    <!-- project-detail template -->
    <div class="project-detail">
      <div class="project-detail__header">
        <h2 class="project-detail__title">Design Title</h2>
        <p class="project-detail__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et corrupti odit, illo veritatis doloribus in? Animi asperiores, natus facilis assumenda eum sint, ipsam dicta. Dolores odio similique rem corporis, dolor.</p>
      </div>
    </div>
    <!-- end template -->
    
  </article>
  {{/teaser}}
</section>
