@media only screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
    .header {
      position: fixed;
      z-index: 1;
      top: 0;
    }
    .footer {
      z-index: -1;
      justify-content: center;
    }
  }
  .main {
    display: block;
    margin: $header-height 0 0;
    padding: 0;
    .iphone {
      transform: scale(0.9);
    }
  }
  .main-content, .secondary-content {
    justify-content: center;
  }
  .main-content {
    padding: $base-spacing;
  }
  .teaser-section {
    width: 100%;
    .teaser {
      max-width: 100%;
    }
    .project-detail {
      transform-origin: center;
      width: auto;
      height: auto;
      overflow-y: hidden;
    }
  }
}

@media only screen and (max-width: 450px) {
  .iphone {
    height: 550px;
    width: 330px;
    border-radius: 50px;
    padding: 95px 22px;
    &:after, &:before {
      border-radius: 44px;
    }
    &__screen {
      height: 80%;
    }
    &__speaker {
      width: 65px;
      left: 52%;
    }
  }
}
