body {
  background: $base-background-color;
}

.body {
  animation: fadeIn 2s forwards;
  display: flex;
  height: 100vh;
  padding: 0 $large-spacing;
}

.main-content, .secondary-content {
  display: flex;
  align-items: center;
}

.secondary-content {
  justify-content: flex-end;
  color: $base-font-color;
  flex: 1 1 40%;
}

.main-content {
  justify-content: flex-start;
  position: relative;
  flex: 1 1 60%;
}
