body {
  animation: fadeIn 1s forwards;
  display: flex;
  background: $base-background-color;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.main-content, .secondary-content {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.main-content {
  justify-content: flex-end;
  margin-right: $large-spacing;
  color: $base-font-color;
}

.secondary-content {
  justify-content: flex-start;
  position: relative;
}
