.status-bar {
  align-items: center;
  justify-content: space-between;
  background-color: white;
  display: flex;
  min-height: 1.5rem;
  font-size: $base-font-size*0.8;
  padding: 0 0.5rem;
  font-family: $sf;

  &__connectivity {
    align-items: center;
    display: flex;
    .cellular-bars {
      align-items: center;
      display: flex;
    }
    .cellular-bar {
      height: 0.4rem;
      width: 0.4rem;
      background-color: black;
      border-radius: 50%;
      display: inline-block;
      margin: 0 0.05rem;
      &:last-of-type {
        height: 0.28rem;
        width: 0.28rem;
        border: 1px solid black;
        background-color: white;
        margin-right: 0.25rem;
      }
    }
  }

  &__time {
    font-weight: 500;
    letter-spacing: 1px;
  }

  &__battery {
  }

}
