$sf: "San-Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

//Colors
$dark-gray: #333;
$light-gray: #d7d7d7;

//Base
$base-font-size: 1rem;
$base-font-color: $dark-gray;
$base-spacing: 2rem;
