//Colors
$dark-gray: #333;
$medium-gray: #8b8b8b;
$light-gray: #d7d7d7;

// Typography
$san-franscisco: "San-Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$work-sans: "Work Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$base-font-family: $work-sans;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1rem;

// Line Height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1.2rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$red: #e80202;
$green: #009c2b;
$yellow: #e8a000;
$dark-gray: #333;
$medium-dark-gray: #666;
$medium-gray: #999;
$light-gray: #ddd;
$primary-color: $blue;
$primary-color-lighter: lighten($blue, 10%);
$secondary-color: $green;

$color-brand-primary-blue: #124191;
$color-brand-primary-white: #ffffff;
$color-brand-primary-blue-black: #001135;

$color-brand-gray-1: #edf3f5;
$color-brand-gray-2: #bec8d2;
$color-brand-gray-3: #98a2ae;
$color-brand-gray-4: #4d5766;
$color-brand-gray-5: #273142;

$color-brand-accent-light-blue: #00c9ff;
$color-brand-accent-red: #ff3154;
$color-brand-accent-yellow: #fffb00;
$color-brand-accent-green: #4bdd33;
$color-brand-accent-orange: #ff9910;
$color-brand-accent-black: #000000;

// Font Colors
$base-font-color: white;
$heading-color: white;
$action-color: $color-brand-accent-light-blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

//Effects
$base-box-shadow: 0 15px 25px rgba(0,0,0,0.3);
$base-box-shadow-light: 0 2px 5px rgba(0,0,0,0.1);
$base-box-shadow-light-top: 0 -2px 5px rgba(0,0,0,0.1);

// Background Colors
$page-background-color: #f3f3f3;
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 0 0 rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 0 adjust-color($primary-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 200ms;
$base-timing: ease-in-out;
$base-transition: all $base-duration $base-timing;
$base-delay: 750ms;

// Buttons
$btn-font-size: $base-font-size;
$btn-color: $color-brand-accent-light-blue;
$btn-shadow-light: $base-box-shadow-light;
$btn-shadow: $base-box-shadow;
$btn-color-hover: lighten($btn-color, 10%);
$btn-color-text: #fff;
$btn-color-icon: $btn-color-text;
