@import "base/base";

body {
  animation: fadeIn 1s forwards;
  display: flex;
  font-family: 'Work Sans', sans-serif;
  background-color: #333;
  background-size: cover;
}

iframe {
  border: none;
}

//turn on screen after phone slides in
.screen {
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  border: none;
  opacity: 0;
}

h1 {
  font-size: 5rem;
}

.main-content {
  margin-right: 5rem;
}
