@import "base/base";

body {
  animation: fadeIn 1s forwards;
  display: flex;
  background-color: #333;
  background-size: cover;
  padding: $base-spacing;
}

.main-content {
  margin-right: 5rem;
  color: white;
}

iframe {
  border: none;
}
