@import "base/base";

body {
  animation: fadeIn 1s forwards;
  display: flex;
  font-family: 'Taviraj', sans-serif;
  background-color: #333;
  color: white;
  background: url(../../images/table.jpg) no-repeat center center fixed;
  background-size: cover;
}

iframe {
  border: none;
}

.screen {
  animation: fadeIn 1s forwards;
  animation-delay: 2.5s;
  border: none;
  opacity: 0;
}

h1 {
  font-size: 5rem;
  font-family: 'Work Sans', sans-serif;
}

.main-content {
  margin-right: 5rem;
}
