body {
  animation: 1s fadeIn ease forwards;
  opacity: 0;
  background-image: url(assets/bg.svg);
  overflow-x: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0 $large-spacing 0 0;
  margin: -$header-height auto 0;
  max-width: 68rem;
  @include breakpoint(medium) {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.main-content, .secondary-content {
  display: flex;
  align-items: center;
}

.secondary-content {
  justify-content: center;
  color: $base-font-color;
}

.main-content {
  order: 1;
  padding-left: $small-spacing;
  pointer-events: none; //fixes click-through bug on Firefox
  @include breakpoint(medium) {
    justify-content: center;
    padding: $small-spacing/1.5 $small-spacing 0;
  }
}
