body {
  animation: 1s fadeIn ease forwards;
  opacity: 0;
  background: url('assets/bg.jpg') no-repeat center center fixed $base-background-color;
  background-size: cover;
  overflow-x: hidden;
}

.main {
  display: flex;
  height: 100vh;
  padding: 0 $large-spacing 0 0;
  margin: -$header-height auto 0;
  max-width: 68rem;
  @include breakpoint(medium) {
    display: block;
    margin: 0;
    padding: 0;
  }
}

.main-content, .secondary-content {
  display: flex;
  align-items: center;
}

.secondary-content {
  justify-content: center;
  color: $base-font-color;
}

.main-content {
  order: 1;
  pointer-events: none;
  padding-left: $small-spacing;
  @include breakpoint(medium) {
    justify-content: center;
    padding: $base-spacing $base-spacing 0;
  }
}
