//Typefaces
$armata: "Armata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$open-sans: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

//Base Typography
$base-font-family: $open-sans;
$heading-font-family: $armata;

//Font Sizes
$base-font-size: 1rem;

//Line Height
$base-line-height: 1.9;
$heading-line-height: 1.6;

//Breakpoints
$breakpoint-medium: 975px;
$breakpoint-small: 450px;

//Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1.2rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$base-z-index: 0;
$header-height: 5rem;

//Colors
$blue: #055dab;
$red: #e80202;
$green: #009c2b;
$yellow: #e8a000;
$dark-gray: #333;
$medium-dark-gray: #666;
$medium-gray: #999;
$light-gray: #d7d7d7;
$primary-color: $blue;
$primary-color-darker: darken($primary-color, 15%);
$primary-color-lighter: lighten($primary-color, 15%);
$primary-color-gradient: linear-gradient(275deg, $primary-color 0%, $primary-color-darker 100%);

//Font Colors
$base-font-color: #eee;
$heading-color: #fff;
$action-color: $primary-color;

//Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$debug: 3px solid red;

//Shadows
$base-box-shadow: 0 15px 25px rgba(0,0,0,0.3);
$base-box-shadow-left: -15px 0 25px rgba(0,0,0,0.3);
$base-box-shadow-hover: 0 2px 5px rgba(0,0,0,0.1);

//Background Colors
$base-background-color: #11151D;
$secondary-background-color: tint($base-border-color, 75%);

//Animations
$base-duration: 200ms;
$base-timing: ease-in-out;
$base-transition: all $base-duration $base-timing;
$base-delay: 750ms;
$cubic-bezier: cubic-bezier(0.010, 0.800, 0.355, 1.000);
