//Typefaces
$san-franscisco: "San-Francisco", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$armata: "Armata", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$open-sans: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

//Base Typography
$base-font-family: $open-sans;
$heading-font-family: $armata;

//Font Sizes
$base-font-size: 1rem;

//Line Height
$base-line-height: 1.9;
$heading-line-height: 1.6;

//Breakpoints
$breakpoint-medium: 975px;
$breakpoint-small: 450px;

//Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1.2rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$base-z-index: 0;
$header-height: 5rem;

//Colors
$blue: #055dab;
$red: #e80202;
$green: #009c2b;
$yellow: #e8a000;
$dark-gray: #333;
$medium-dark-gray: #666;
$medium-gray: #999;
$light-gray: #d7d7d7;
$primary-color: $blue;
$primary-color-darker: darken($primary-color, 15%);
$primary-color-lighter: lighten($primary-color, 15%);
$primary-color-gradient: linear-gradient(275deg, $primary-color 0%, $primary-color-darker 100%);

//Font Colors
$base-font-color: #333;
$heading-color: #333;
$action-color: $primary-color;

//Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$debug: 3px solid red;

//Shadows
$base-box-shadow: 0 15px 25px rgba(0,0,0,0.3);
$base-box-shadow-left: -15px 0 25px rgba(0,0,0,0.3);
$base-box-shadow-hover: 0 2px 5px rgba(0,0,0,0.1);

//Background Colors
$base-background-color: white;
$secondary-background-color: tint($base-border-color, 75%);

//Forms
$form-box-shadow: inset 0 0 0 rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 0 adjust-color($primary-color, $lightness: -5%, $alpha: -0.3);

//Animations
$base-duration: 200ms;
$base-timing: ease-in-out;
$base-transition: all $base-duration $base-timing;
$base-delay: 750ms;
$cubic-bezier: cubic-bezier(0.010, 0.800, 0.355, 1.000);

//Buttons
$btn-font-size: $base-font-size;
$btn-color: $primary-color;
$btn-shadow-light: $base-box-shadow-hover;
$btn-shadow: $base-box-shadow;
$btn-color-hover: lighten($btn-color, 10%);
$btn-color-text: #fff;
$btn-color-icon: $btn-color-text;
